<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Hack your idea for angel funding</h1>
      <hr>
      <p>h2angel can help you transform your idea into a reality</p>
      <a href="#contact" class="btn btn-primary btn-xl page-scroll">Request Access</a>
    </div>
  </div>
</header>

